:root {
}
* {
    margin: 0;
    padding: 0;
    user-select: none;
}

@media screen and (max-width: 600px) {
    input {
        width: 2rem;
        height: 1.2rem;
        text-align: center;
    }
    .win {
        width: 100vw;
        height: 100vh;
        position: absolute;
        display: none;
        background: white;
        place-items: center;
    }
    .setting-panel-content-wrapper {
        width: 90vw;
        height: 80vh;
        display: grid;
        place-items: center;
    }
    .btn {
        border-radius: 5px;
    }
    .mode-chosen-page {
        display: grid;
        z-index: 15;
    }
    .choose-mode-btn {
        border: 1px solid #000;
    }
    .go-prev-page-btn {
        position: fixed;
        z-index: 7;
        width: 40px;
        height: 40px;
        left: 0;
        top: 0;
        background-color: #ddd;
        display: grid;
        place-items: center;
    }
    .setting-panel-content-wrapper > .setting-panel-content {
        display: grid;
        width: 60vw;
        grid-template-columns: auto 5rem;
        place-items: center;
    }
    .menu-btn {
        position: fixed;
        z-index: 7;
        width: 40px;
        height: 40px;
        right: 0;
        top: 0;
        background-color: #ddd;
        display: grid;
        place-items: center;
    }
    .yes-no-btn {
        display: inline-block;
        width: 3rem;
        height: 1.5rem;
    }
    .yes-btn {
        background: rgb(149, 255, 149);
    }
    .yes-btn::after {
        content: '是';
        position: absolute;
        width: 3rem;
        text-align: center;
        height: 1.5rem;
    }
    .no-btn {
        background: rgb(255, 149, 149);
    }
    .no-btn::after {
        content: '否';
        position: absolute;
        width: 3rem;
        text-align: center;
        height: 1.5rem;
    }
    .submit-btn {
        width: 80px;
        height: 40px;
        border-width: 0 1px 4px 0;
        line-height: 40px;
        text-align: center;
        background: #ddd;
    }
}
